body {
  background-image: url('/img/Background_Test.jpg') !important; /* mcmastersforgrainvalley\files\img\IMG_4049.JPG Replace with your image path */
  background-repeat: no-repeat !important; /* Prevents image from repeating */
  background-size: cover !important; /* Scales image to cover the entire page */
  /*background-position: center; /* Centers the image */
  background-color: lightgray !important;
}